<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rokkhi.receptionistofficeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.RokkhiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Receptionistofficeapp">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>


        <activity android:name=".ui.attendance_out.AttendanceOutActivity"></activity>
        <activity android:name=".ui.parcel_delivery.ParcelDelieveredActivity" />
        <activity android:name=".ui.parcel_received.ParcelReceivedActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.visitor_out.VisitorListActivity" />
        <activity android:name=".ui.visitor_in.VisitorInActivity" />
        <activity android:name=".ui.attendance_in.AttendanceInActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>